html,
body {
  overflow-y: auto;
}

#badge_country-col {
  background-color: #6699ff;
  color: #6699ff;
}

.row-flex {
  display: flex;
  align-items: stretch;
  /* border: 2px solid red; */
}
.equal-height {
  flex-grow: 1;
}
